*.sch-bak
*.kicad_pcb-bak
*.gbr
*.drl
*.gbrjob
*.dcm
CardV1/fp-info-cache
CardV2/fp-info-cache
CardV3/Card-cache.lib
CardV3/fp-info-cache
CardV3/fp-lib-table
CardV3.1/Card-cache.lib
CardV3.1/fp-info-cache
